{{#section 'css'}}
    <style>
        .popover {
            width: 320px !important;
            height: 280px !important;
        }
        .no-border {
            border: 0;
            box-shadow: none;
        }
        .editable {
            text-decoration: underline;
            text-decoration-color: #5cb85c;
            color: #5cb85c;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $("td > .editable").popover({
            toggle: 'popover',
            container: 'body',
            html: true,
            sanitize: false
        }).on("show.bs.popover", function() {
            $($(this).data("bs.popover").getTipElement()).css("width", "320px").css("height", "280px");
        });
    </script>
{{/section}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card my-3">
                <div class="card-header bg-white">
                    <div class="d-flex flex-row">
                        <div class="nav-item">
                            <a class="nav-link text-success font-weight-bold" href="/seller/product/list/active">Active</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link text-success font-weight-bold" href="/seller/product/list/sold">Sold</a>
                        </div>
                        <div class="ml-auto">
                            {{#if this.isExSeller}}
                                <a href="/bidder/request">
                                    <button class="btn btn-success my-2 my-sm-0 text-white float-right" type="submit">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        Become a seller
                                    </button>
                                </a>
                            {{else}}
                                <a href="/seller/product/add">
                                    <button class="btn btn-success my-2 my-sm-0 text-white float-right" type="submit">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Add a new product
                                    </button>
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if this.empty}}
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="/public/imgs/picture/no-product-found.png" alt="No sold products here">
                        </div>
                    </div>
                {{else}}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hovered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Winner</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each this.products}}
                                        <tr>
                                            <td>{{ProID}}</td>
                                            <td><a href="/product/{{ProID}}" class="text-success">{{ProName}}</a></td>
                                            <td>{{CatName}}</td>
                                            <td>{{UploadDate}}</td>
                                            <td>{{EndDate}}</td>
                                            {{#if hasWinner}}
                                                {{#if winnerIsSeller}}
                                                    <td>{{WinnerName}}</td>
                                                {{else}}
                                                    {{#if isCommented}}
                                                        <td>{{WinnerName}}</td>
                                                    {{else}}
                                                        <td>
                                                            <a href="#"
                                                               class="editable"
                                                               data-toggle="popover"
                                                               data-container="body"
                                                               data-placement="auto"
                                                               data-title="Review user {{WinnerName}}"
                                                               data-content="
                                                                  <form method='post'>
                                                                      <label for='ProID' hidden>ProID</label>
                                                                      <input type='text' class='form-control' id='ProID' name='ProID' value='{{ProID}}' hidden>
                                                                      <label for='Winner' hidden>Winner</label>
                                                                      <input type='text' class='form-control' id='Winner' name='Winner' value='{{Winner}}' hidden>
                                                                      <label for='SID' hidden>SID</label>
                                                                      <input type='text' class='form-control' id='SID' name='SID' value='{{SID}}' hidden>
                                                                      <div class='form-check form-check-inline'>
                                                                          <input class='form-check-input' type='radio' id='like' value='1' name='score' required>
                                                                          <label class='form-check-label' for='like'>
                                                                            <img class='emoji' src='/public/imgs/emoji/+1.png' alt='' height='50' width='auto'>
                                                                          </label>
                                                                          <div class='invalid-feedback'>You must give this user a score</div>
                                                                      </div>
                                                                      <div class='form-check form-check-inline'>
                                                                          <input class='form-check-input' type='radio' id='dislike' value='0' name='score' required>
                                                                          <label class='form-check-label' for='dislike'>
                                                                            <img class='emoji' src='/public/imgs/emoji/-1.png' alt='' height='50' width='auto'>
                                                                          </label>
                                                                          <div class='invalid-feedback'>You must not leave this field blank</div>
                                                                      </div>
                                                                      <div class='form-group'>
                                                                        <label for='review'>Comment</label>
                                                                        <textarea rows='4' type='text' maxlength='150' class='form-control' id='review' name='review' placeholder='Write your comment on {{WinnerName}}' required></textarea>
                                                                      </div>
                                                                      <input type='submit' class='btn btn-success' formaction='/seller/review'>
                                                                  </form>">
                                                                {{WinnerName}}
                                                            </a>
                                                        </td>
                                                    {{/if}}
                                                {{/if}}
                                            {{else}}
                                                <td>None</td>
                                            {{/if}}

                                            <td>
                                                <form method="post">
                                                    <label for="ProID" hidden>ProID</label>
                                                    <input type="text" class="form-control" id="ProID" name="ProID" value="{{ProID}}" hidden>
                                                    <label for="Winner" hidden>Winner</label>
                                                    <input type="text" class="form-control" id="Winner" name="Winner" value="{{Winner}}" hidden>
                                                    <label for="SID" hidden>SID</label>
                                                    <input type="text" class="form-control" id="SID" name="SID" value="{{SID}}" hidden>
                                                    <button type="submit" class="btn btn-sm btn-danger" formaction="/seller/product/delete">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {{#each this.pageNumbers}}
            {{#if isCurrent}}
                <li class="page-item">
                    <a class="page-link bg-success text-white" href="javascript:;">{{value}}</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link text-success" href="?page={{value}}">{{value}}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</nav>