<div class="card border-primary">
    <div class="card-header p-4" style="background-color: #2fbdd3;">
        <i class="fa fa-desktop" aria-hidden="true"></i> Product management
        {{!-- <span class="float-right"><a class="btn btn-sm btn-success" onclick="toggleModal()" href="#" role="button">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Add Product
            </a>
        </span> --}}
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Seller</th>
                    <th scope="col">Category</th>
                    <th scope="col">Upload date</th>
                    <th scope="col">End date</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                {{#each this.products}}
                <tr class="row-{{ID}}">
                    <th scope="row">{{ProID}}</th>
                    <td>{{ProName}}</td>
                    <td>{{SellerID}}</td>
                    <td>{{CatID}}</td>
                    <td>{{UploadDate}}</td>
                    <td>{{EndDate}}</td>
                    <td class="text-right">
                        
                        <button onclick="Delete(this, {{ID}})" class="delete btn btn-danger btn-sm shadow" type="submit"><i class="fa fa-trash" aria-hidden="true"></i>
                            delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{!-- <div class="card-footer d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination text-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> --}}
</div>