<div id="main-content">
    <!--Main Content-->
    <!-- Category -->
    <div class="container-fluid">
        <div class="row mb-3 bg-secondary">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <ul class="nav justify-content-center">
                    {{#each this.category}}
                    <li class="nav-item dropdown">

                        <button type="button" class=" nav-link btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">
                            <a class=" text-white" href="#">{{CatName}}</a>
                        </button>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="#">Please</a>
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="#">Me</a>
                            <a class="dropdown-item" href="#">Sleepy...</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <!-- End of Category -->

    <!-- Top End -->
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4 class="">End soon!</h4>
                            <a class="text-success font-weight-bold ml-auto mr-0" href="#">See all
                                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="card-group">
                            {{#each this.top_end}}
                            <div class="card card-small">
                                <div class="thumbnail">
                                    <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                        alt="{{ProName}}" title="{{ProName}}">
                                    {{#if New}}
                                    <span class="tag-picture bg-info text-white">New</span>
                                    {{/if}}
                                    <div class="details">
                                        <a href="/user/{{BidderID}}" class="user">
                                            <div class="user-photo">
                                                <img alt="Thumb" src="./public/imgs/avatar/0/avatar1.png">
                                            </div>
                                            <div class="name" data-toggle="tooltip" data-placement="top"
                                                title="{{Bidder}}">
                                                {{Bidder}}
                                            </div>
                                        </a>
                                        <div class="numbers">
                                            <b class="views mr-1"><i class="fa fa-arrow-circle-up"
                                                    aria-hidden="true"></i> {{BidNumber}}</b>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="card-body mb-0">

                                    <h4 class="card-title">
                                        <a class="text-dark" href="./product/{{ProID}}">{{ProName}}</a>
                                    </h4>

                                    <h6 class="card-title text-success">
                                        <i class="fa fa-money mr-2" aria-hidden="true"></i></i>Highest bid
                                        <h5 class="text-success">{{{format_number Price}}}</h5>
                                    </h6>


                                    {{#if PriceBuyNow}}
                                    <h6 class="card-title text-info">
                                        <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Buy now
                                        <h5 class="text-info">{{{format_number PriceBuyNow}}}</h5>
                                    </h6>
                                    {{/if}}

                                    <p class="card-text">
                                    <h6 class="card-title">
                                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Time remain
                                        <h5 id="time-left-end{{ProID}}"></h5>
                                    </h6>

                                    <script type="text/javascript">
                                        f('time-left-end{{ProID}}', "{{EndDate}}");
                                        console.log('time-left-end{{ProID}} -  {{EndDate}}');
                                    </script>

                                    </p>


                                </div>
                                <div class="card-text mr-auto ml-3 mb-0">
                                    <button type="button" class="btn btn-sm btn-outline-primary my-2">
                                        <i class="fa fa-list mr-1" aria-hidden="true"></i>View Detail
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger my-2">
                                        <i class="fa fa-heart mr-1" aria-hidden="true"></i>Add to Watchlist
                                    </button>
                                </div>
                                <div class="card-footer text-right mt-4">
                                    <small class="text-muted">Upload date: {{UploadDate}}</small>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <!-- End of Top End -->

    <!-- Top Bid -->
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4 class="">Top bid</h4>
                            <a class="text-success font-weight-bold ml-auto mr-0" href="#">See all
                                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="card-group">
                            {{#each this.top_end}}
                            <div class="card card-small">
                                <div class="thumbnail">
                                    <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                        alt="{{ProName}}" title="{{ProName}}">
                                    {{#if New}}
                                    <span class="tag-picture bg-info text-white">New</span>
                                    {{/if}}
                                    <div class="details">
                                        <div class="user">
                                            <div class="user-photo">
                                                <img alt="Thumb" src="./public/imgs/avatar/0/avatar1.png">
                                            </div>
                                            <div class="name" data-toggle="tooltip" data-placement="top"
                                                title="{{Bidder}}">
                                                {{Bidder}}
                                            </div>
                                        </div>
                                        <div class="numbers">
                                            <b class="views mr-1"><i class="fa fa-arrow-circle-up"
                                                    aria-hidden="true"></i> {{BidNumber}}</b>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="card-body mb-0">

                                    <h4 class="card-title">
                                        <a class="text-dark" href="./product/{{ProID}}">{{ProName}}</a>
                                    </h4>

                                    <h6 class="card-title text-success">
                                        <i class="fa fa-money mr-2" aria-hidden="true"></i></i>Highest bid
                                        <h5 class="text-success">{{{format_number Price}}}</h5>
                                    </h6>


                                    {{#if PriceBuyNow}}
                                    <h6 class="card-title text-info">
                                        <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Buy now
                                        <h5 class="text-info">{{{format_number PriceBuyNow}}}</h5>
                                    </h6>
                                    {{/if}}

                                    <p class="card-text">
                                    <h6 class="card-title">
                                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Time remain
                                        <h5 id="time-left-bid{{ProID}}"></h5>
                                    </h6>

                                    <script type="text/javascript">
                                        f('time-left-bid{{ProID}}', "{{EndDate}}");
                                        console.log('time-left-bid{{ProID}} -  {{EndDate}}');
                                    </script>

                                    </p>


                                </div>
                                <div class="card-text mr-auto ml-3 mb-0">
                                    <button type="button" class="btn btn-sm btn-outline-primary my-2">
                                        <i class="fa fa-list mr-1" aria-hidden="true"></i>View Detail
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger my-2">
                                        <i class="fa fa-heart mr-1" aria-hidden="true"></i>Add to Watchlist
                                    </button>
                                </div>
                                <div class="card-footer text-right mt-4">
                                    <small class="text-muted">Upload date: {{UploadDate}}</small>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <!-- End of Top Bid -->

    <!-- Top Price -->
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4 class="">Top price</h4>
                            <a class="text-success font-weight-bold ml-auto mr-0" href="#">See all
                                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    <div class="card-body">
                        <div class="card-group">
                            {{#each this.top_end}}
                            <div class="card card-small">
                                <div class="thumbnail">
                                    <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                        alt="{{ProName}}" title="{{ProName}}">
                                    {{#if New}}
                                    <span class="tag-picture bg-info text-white">New</span>
                                    {{/if}}
                                    <div class="details">
                                        <div class="user">
                                            <div class="user-photo">
                                                <img alt="Thumb" src="./public/imgs/avatar/0/avatar1.png">
                                            </div>
                                            <div class="name" data-toggle="tooltip" data-placement="top"
                                                title="{{Bidder}}">
                                                {{Bidder}}
                                            </div>
                                        </div>
                                        <div class="numbers">
                                            <b class="views mr-1"><i class="fa fa-arrow-circle-up"
                                                    aria-hidden="true"></i> {{BidNumber}}</b>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="card-body mb-0">

                                    <h4 class="card-title">
                                        <a class="text-dark" href="./product/{{ProID}}">{{ProName}}</a>
                                    </h4>

                                    <h6 class="card-title text-success">
                                        <i class="fa fa-money mr-2" aria-hidden="true"></i></i>Highest bid
                                        <h5 class="text-success">{{{format_number Price}}}</h5>
                                    </h6>


                                    {{#if PriceBuyNow}}
                                    <h6 class="card-title text-info">
                                        <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Buy now
                                        <h5 class="text-info">{{{format_number PriceBuyNow}}}</h5>
                                    </h6>
                                    {{/if}}

                                    <p class="card-text">
                                    <h6 class="card-title">
                                        <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Time remain
                                        <h5 id="time-left-price{{ProID}}"></h5>
                                    </h6>

                                    <script type="text/javascript">
                                        f('time-left-price{{ProID}}', "{{EndDate}}");
                                        console.log('time-left-price{{ProID}} -  {{EndDate}}');
                                    </script>

                                    </p>


                                </div>
                                <div class="card-text mr-auto ml-3 mb-0">
                                    <button type="button" class="btn btn-sm btn-outline-primary my-2">
                                        <i class="fa fa-list mr-1" aria-hidden="true"></i>View Detail
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger my-2">
                                        <i class="fa fa-heart mr-1" aria-hidden="true"></i>Add to Watchlist
                                    </button>
                                </div>
                                <div class="card-footer text-right mt-4">
                                    <small class="text-muted">Upload date: {{UploadDate}}</small>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <!-- End of Top Price -->

    <!-- End of Main Content -->
</div>