{{#section 'js'}}
    <script crossorigin="anonymous" src="/public/js/time.js"></script>

    {{#each data}}
        {{#each list}}
            <script type="text/javascript">
                f('time-left-{{ProID}}', "{{EndDate}}");
            </script>
        {{/each}}
    {{/each}}
{{/section}}

{{#section 'css'}}
<style>
    .product {
        transition: 0.5s;
    }
    .product:hover{
    box-shadow: 0 10px 20px 0 gray;
    }
</style>
{{/section}}

<div id="main-content">
    <!--Main Content-->
    <!-- Category -->
    <div class="container-fluid">
        <div class="row mb-3 bg-secondary">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <ul class="nav justify-content-center">
                    {{#each this.category}}
                        <li class="nav-item dropdown">
                            <a class="text-white" href="/byCat/{{CatID}}">
                                <button class="nav-link btn btn-secondary" aria-expanded="false">
                                    {{CatName}}
                                </button>
                            </a>

                            <div class="dropdown-menu" style="padding:0">
                                {{#each SubCat}}
                                    <a class="dropdown-item" href="/byCat/{{CatID}}">{{CatName}}</a>
                                {{/each}}
                            </div>

                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <!-- End of Category -->

    <!-- LIST-->
    <div class="container-fluid py-3">
        {{#each data}}
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h4 class="">{{title}}</h4>
                                <a class="text-success font-weight-bold ml-auto mr-0" href="/byCat/1/1">See all
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="card-group">
                                {{#each list}}
                                    <div class="card product card-small mr-2 rounded">
                                        <div class="thumbnail">
                                            <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                                 alt="{{ProName}}" title="{{ProName}}">
                                            {{#if New}}
                                                <span class="tag-picture bg-info text-white">New</span>
                                            {{/if}}
                                            <div class="details">
                                                {{#if HighestBID}}
                                                    <span href="#" class="user">
                                                        <div class="user-photo">
                                                            <img alt="Thumb" src="./public/imgs/avatar/0/avatar1.png">
                                                        </div>
                                                        <div class="name" data-toggle="tooltip" data-placement="top"
                                                             title="{{{format_name HighestBID.FullName}}}">
                                                            {{{format_name HighestBID.FullName}}}
                                                        </div>
                                                    </span>
                                                {{else}}
                                                    <div class="user">
                                                        <div class="name">No bidder!</div>
                                                    </div>
                                                {{/if}}
                                                <div class="numbers">
                                                    <b class="views mr-1"><i class="fa fa-arrow-circle-up"
                                                                             aria-hidden="true"></i> {{BidNumber}}</b>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                        <div class="card-body mb-0">

                                            <h4 class="card-title">
                                                <a class="text-dark" href="./product/{{ProID}}">{{ProName}}</a>
                                            </h4>

                                            <h6 class="card-title text-success">
                                                <i class="fa fa-money mr-2" aria-hidden="true"></i>Highest bid
                                                <h5 class="text-success">{{{format_number Current_bid}}}</h5>
                                            </h6>


                                            {{#if Buy_now}}
                                                <h6 class="card-title text-info">
                                                    <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Buy now
                                                    <h5 class="text-info">{{{format_number Buy_now}}}</h5>
                                                </h6>
                                            {{/if}}

                                            <div class="card-text">
                                                <h6 class="card-title">
                                                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Time remain
                                                    <h5 class="time-left-{{ProID}}"></h5>
                                                </h6>
                                            </div>


                                        </div>
                                        <div class="card-text mr-auto ml-3 mb-0 ">
                                            <a href="./product/{{ProID}}">
                                                <button type="button" class="btn btn-outline-primary my-2">
                                                    <i class="fa fa-list mr-2" aria-hidden="true"></i>View Detail
                                                </button>
                                            </a>
                                        </div>
                                        <div class="card-footer text-right mt-4">
                                            <small class="text-muted">Uploaded: {{format_date UploadDate}}</small>
                                        </div>
                                    </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <!-- End of LIST -->

    <!-- End of Main Content -->
</div>