<div id="main-content">
    <!--Main Content-->
    <!-- Category -->
    <div class="container-fluid">
        <div class="row mb-3 bg-secondary">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <ul class="nav justify-content-center">
                    {{#each this.category}}
                        <li class="nav-item dropdown">
                            <a class="text-white" href="/byCat/{{CatID}}/1">
                                <button class="nav-link btn btn-secondary" aria-expanded="false">
                                    {{CatName}}
                                </button>
                            </a>

                            <div class="dropdown-menu">
                                <div class="dropdown-menu">
                                    {{#each SubCat}}
                                        <a class="dropdown-item" href="/byCat/{{CatID}}/1">{{CatName}}</a>
                                    {{/each}}
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Category -->

    <!-- Item List -->
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Category</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {{#each lcCategories}}
                            <a data-toggle="collapse" href="#collapse{{CatID}}" class="list-group-item list-group-item-action {{#if isActive}} active {{/if}}">
                                <h7 class="font-weight-bold">{{CatName}}</h7>
                                <i class="fa fa-list float-right mt-1" aria-hidden="true"></i>
                            </a>
                            <div class="collapse ml-4 mt-3" id="collapse{{CatID}}">
                                <div class="form-check">
                                    <a href="../2/1" class="form-check-label">
                                        Super Laptop
                                    </a>
                                    {{#if ProductCount}}
                                        <span class="badge badge-pill badge-danger">{{ProductCount}}</span>
                                    {{/if}}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="form-check">
                                    <a href="../3/1" class="form-check-label">
                                        Car
                                    </a>
                                    {{#if ProductCount}}
                                        <span class="badge badge-pill badge-danger">{{ProductCount}}</span>
                                    {{/if}}

                                </div>
                                <div class="dropdown-divider"></div>
                            </div>
                        {{/each}}
                    </div>
                </div>

            </div>
            <div class="col-sm-9">
                <div class="card">
                    <h4 class="card-header d-flex justify-content-between">
                        Products
                    </h4>
                    <div class="card-body">

                        {{#if this.empty}}
                            <h5 class="card-title">No product found</h5>
                            <p class="card-text">Products in this category has been updated...<br>Please come back later
                                :(
                            </p>
                        {{else}}
                            <div class="row">
                                {{#each this.product}}
                                    <div class="col-lg-3 col-md-4 col-12 mb-5">
                                        <div class="card card-small h-100">
                                            <div class="thumbnail">
                                                <img class="card-img-top"
                                                     src="/public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                                     alt="{{ProName}}"
                                                     title="{{ProName}}">
                                                {{#if New}}
                                                    <span class="tag-picture bg-info text-white">New</span>
                                                {{/if}}
                                                <div class="details">
                                                    <a href="/user/{{BidderID}}" class="user">
                                                        <div class="user-photo">
                                                            <img alt="Thumb"
                                                                 src="/public/imgs/avatar/0/avatar1.png">
                                                        </div>
                                                        <div class="name" data-toggle="tooltip" data-placement="top"
                                                             title="{{Bidder}}">
                                                            {{Bidder}}
                                                        </div>
                                                    </a>
                                                    <div class="numbers">
                                                        <b class="views mr-1"><i class="fa fa-arrow-circle-up"
                                                                                 aria-hidden="true"></i> {{BidNumber}}
                                                        </b>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                            <div class="card-body">

                                                <h4 class="card-title">
                                                    <a class="text-dark" href="/product/{{ProID}}">{{ProName}}</a>
                                                </h4>

                                                <h6 class="card-title text-success">
                                                    <i class="fa fa-money mr-2" aria-hidden="true"></i></i>Highest
                                                    bid
                                                    <h5 class="text-success">{{{format_number Current_bid}}}</h5>
                                                </h6>


                                                {{#if Buy_now}}
                                                    <h6 class="card-title text-info">
                                                        <i class="fa fa-shopping-bag mr-2" aria-hidden="true"></i>Buy
                                                        now
                                                        <h5 class="text-info">{{{format_number Buy_now}}}</h5>
                                                    </h6>
                                                {{/if}}

                                                <p class="card-text">
                                                <h6 class="card-title">
                                                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Time remain
                                                    <h5 id="time-left-end{{ProID}}"></h5>
                                                </h6>

                                                <script type="text/javascript">
                                                    f('time-left-end{{ProID}}', "{{EndDate}}");
                                                    console.log('time-left-end{{ProID}} -  {{EndDate}}');
                                                </script>

                                                </p>


                                            </div>
                                            <div class="card-text mr-auto ml-3">
                                                <a href="/product/{{ProID}}">
                                                    <button type="button"
                                                            class="btn btn-outline-primary my-2 ">
                                                        <i class="fa fa-list mr-1" aria-hidden="true"></i>View Detail
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="fa fa-heart ml-1 mr-1" aria-hidden="true"></i>Add to
                                                    Watchlist
                                                </button>
                                                <div class="card-footer text-right mt-4">
                                                    <small class="text-muted">Upload date:<br> {{UploadDate}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Item List -->

<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="./1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{#each this.page}}
            <li class="page-item {{#if active}} active {{/if}}"><a class="page-link"
                                     href="./{{index}}">{{index}}</a></li>
        {{/each}}
            <a class="page-link" href="./2" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<!-- End of Pagination -->

<!-- End of Main Content -->
</div>

