<style>
    a.carousel-control-prev, a.carousel-control-next {
width: 30px;
        background-color: rgb(126, 43, 43);
    }
</style>
<div class="row">
    <div class="col-sm-2">
        <div class="card ml-3 mt-3">
            <div class="card-body">
                <h4 class="card-title">Filter</h4>
                <p class="card-text">By category</p>
            </div>
            <ul class="list-group list-group-flush">
                {{#each this.category}}
                <li class="list-group-item">
                    <div class="form-check" data-toggle="collapse" href="#collapseCheckbox{{CatID}}">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{CatName}}
                        </label>
                    </div>
                    <div class="collapse ml-4 mt-2" id="collapseCheckbox{{CatID}}">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>

                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="card m-3">
            <h5 class="card-header">Most recent uploaded</h5>
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide pl-5 pr-5" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="thumbnail img-fluid" src="./public/imgs/sp/2/main_thumbs.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <div class="card-deck">
                        {{#each this.recent}}
                                <div class="card">
                                    <img class="thumbnail img-fluid" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ProName}}</h5>
                                        <h5 class="card-title text-success">{{{format_number Price}}}</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                        {{/each}}
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {{!-- {{#each this.recent}}
                <div class="card">
                    <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ProName}}</h5>
                        <h5 class="card-title text-success">{{{format_number Price}}}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                {{/each}} --}}
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header">
                <h5>
                    Related to keywords

                </h5>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    {{#each this.related}}
                    <div class="card">
                        <img class="card-img-top" src="./public/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ProName}}</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>