<div class="container mt-5">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
            <div class="list-group">
                <a href="/bidder/profile" class="list-group-item list-group-item-action">
                    <i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span>
                </a>
                <a href="/watchlist" class="list-group-item list-group-item-action">
                    <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i><span>Watchlist</span></a>
                <a href="/bidder/profile/edit" class="list-group-item list-group-item-action">
                    <i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a>
                <a href="javascript:" class="list-group-item list-group-item-action active">
                    <i class="fa fa-fw fa-history mr-1"></i><span>History</span></a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-header bg-white">
                            <div class="d-flex flex-row">
                                <div class="nav-item">
                                    <a class="nav-link text-success font-weight-bold" href="/bidder/product/list/active">Active</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link text-success font-weight-bold" href="/bidder/product/list/won">Won</a>
                                </div>
                            </div>
                        </div>
                            {{#if this.empty}}
                                <div class="card-body">
                                    <div class="text-center mb-5">
                                        <img src="/public/imgs/picture/no-product-found.png" alt="No active products here">
                                    </div>
                                </div>
                            {{else}}
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th class="text-left">Category</th>
                                                <th class="text-left">End Date</th>
                                                <th class="text-center">Highest bid</th>
                                                <th class="text-center">Current bid</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each this.products}}
                                                <tr {{#if active}}class="bg-warning"{{/if}}>
                                                    <td>{{ID}}</td>
                                                    <td><a href="/product/{{ProID}}" class="text-success">{{ProName}}</a></td>
                                                    <td class="text-left">{{CatName}}</td>
                                                    <td class="text-left">{{format_date_ddmmyy EndDate}}</td>
                                                    <td class="text-center">{{HighestBid}}</td>
                                                    <td class="text-center">{{CurrentBid}}</td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {{/if}}
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {{#each this.pageNumbers}}
                                        {{#if isCurrent}}
                                            <li class="page-item">
                                                <a class="page-link bg-success text-white" href="javascript:;">{{value}}</a>
                                            </li>
                                        {{else}}
                                            <li class="page-item">
                                                <a class="page-link text-success" href="?page={{value}}">{{value}}</a>
                                            </li>
                                        {{/if}}
                                    {{/each}}
                                </ul>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>