{{#section 'css'}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{{/section}}
{{#section 'js'}}
    <script>
        $(document).ready(function () {

            $("#Password").on("input", function () {
                $("#newPasswordForm").addClass('was-validated');
            })
            $("#oldPassword").on("input", function () {
                $("#oldPasswordForm").addClass('was-validated');
            })
            $("#submitButton").click(function () {

                //Fetch form to apply custom Bootstrap validation
                const form = $("#frmChangePassword");

                if (form[0].checkValidity() === false || $("#rePassword").val() !== $('#Password').val()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                $("#oldPasswordForm, #newPasswordForm").addClass('was-validated');
            });
            $("#rePassword").on("input", function () {
                if ($("#rePassword").val() !== $('#Password').val()) {
                    $("#rePassword").removeClass('is-valid');
                    $("#rePassword").addClass('is-invalid');
                }
                else {
                    $("#rePassword").removeClass('is-invalid');
                    $("#rePassword").addClass('is-valid');
                }
            });
        })

    </script>


{{/section}}


<div class="container mt-5">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
            <div class="list-group">
                <a href="/bidder/profile" class="list-group-item list-group-item-action">
                    <i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span>
                </a>
                <a href="/watchlist" class="list-group-item list-group-item-action">
                    <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i><span>Watchlist</span></a>
                <a href="javascript:" class="list-group-item list-group-item-action active">
                    <i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a>
                <a href="/bidder/product/list/active" class="list-group-item list-group-item-action">
                    <i class="fa fa-fw fa-history mr-1"></i><span>History</span></a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded"
                                                 style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <img src="/public/imgs/avatar/0/avatar1.png" class="img-thumbnail"
                                                     alt="profile-image">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <a class="text-dark" href="/bidder/profile"><h4
                                                    class="pt-sm-2 pb-1 mb-0 text-nowrap">{{authUser.FullName}}</h4></a>
                                            <p class="mb-0">@{{authUser.Username}}</p>
                                            <div class="text-muted"><small>{{authUser.Email}}</small></div>
                                            <div class="text-muted"><small>{{format_date authUser.DOB}}</small></div>

                                        </div>
                                        <div class="text-center text-sm-right">
                                            {{#if authUser.Role}}
                                                <span class="badge badge-secondary">
                                                    bidder/seller
                                                </span>
                                                <div class="text-muted"><small>Ready to sell!</small></div>
                                            {{else}}
                                                <span class="badge badge-secondary">
                                                    bidder
                                                </span>
                                                <div class="text-muted"><small>You are currently a bidder!</small></div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="./edit" class="nav-link">Settings</a></li>
                                    <li class="nav-item"><a href="javascript:" class="active nav-link">Change
                                        password</a></li>

                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form action="/bidder/profile/reset-password" method="post"
                                              id="frmChangePassword">
                                            <div class="row">
                                                <div class="col-12 mb-3">
                                                    <div class="mb-2"><b>Change Password</b></div>

                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="oldPasswordForm">
                                                                <label for="inputPassword5">Current Password</label>
                                                                <input name="old_pass" type="password"
                                                                       id="oldPassword"
                                                                       class="form-control"
                                                                       aria-describedby="passwordHelpBlock"
                                                                       required>
                                                                <div class="invalid-feedback">
                                                                    Password must not be empty
                                                                </div>
                                                                {{#if err_message}}
                                                                    <div class="alert alert-warning alert-dismissible fade show"
                                                                         role="alert">
                                                                        {{err_message}}
                                                                        <button type="button" class="close"
                                                                                data-dismiss="alert"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="newPasswordForm">
                                                                <label for="inputPassword5">New Password</label>
                                                                <input name="pass" type="password" id="Password"
                                                                       class="form-control"
                                                                       aria-describedby="passwordHelpBlock"
                                                                       minlength="7"
                                                                       maxlength="20"
                                                                       title="Your password must be 7-20 characters long"
                                                                       required>
                                                                <div class="invalid-feedback">
                                                                    Your password must be 7-20 characters long
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label for="inputPassword5">Confirm Password</label>
                                                                <input name="re-pass" type="password"
                                                                       id="rePassword"
                                                                       class="form-control"
                                                                       aria-describedby="passwordHelpBlock">
                                                                <div class="invalid-feedback">
                                                                    Re-password does not match password
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button id="submitButton" class="btn btn-success" type="submit">Save
                                                        Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    {{#if authUser.Role}}
                    {{else}}
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Ready to be a seller?</h6>
                                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                <a href="../request">
                                    <button type="button" class="btn btn-primary">Sell now!</button>
                                </a>
                            </div>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>