{{#section 'css'}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{{/section}}
{{#section 'js'}}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            const handleString = function (str) {
                return str.replace(/\s+/g, ' ').trim()
            }

            $("#submitButton").click(function () {
                //Fetch form to apply custom Bootstrap validation
                const form = $("#frmChangeProfile");

                if (form[0].checkValidity() === false) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                const username = handleString($('#txtUsername').val());
                const fullname = handleString($('#txtFullname').val());
                const email = handleString($('#txtEmail').val());
                const dob = $('#txtDOB').val();

                const old_username = "{{authUser.Username}}"
                const old_fullname = "{{authUser.FullName}}"
                const old_email = "{{authUser.Email}}"
                const old_dob = "{{format_date_calendar authUser.DOB}}"

                if (username === old_username && fullname === old_fullname && email === old_email && dob === old_dob) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                else {
                    $('#nameForm').addClass("was-validated");
                    $('#userForm').addClass("was-validated");
                    $('#emailForm').addClass("was-validated");

                    const eighteenYearsAgo = moment().subtract(18, "years");
                    if (!eighteenYearsAgo.isAfter(dob)) {
                        $('#txtDOB').addClass('is-invalid')
                        $('#txtDOB').removeClass('is-valid')
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    else {
                        $('#txtDOB').removeClass('is-invalid')
                        $('#txtDOB').addClass('is-valid')
                    }
                }
            });


            $('#txtDOB').datetimepicker({
                timepicker: false,
                format: 'm/d/Y',
                mask: true
            });
            $('#txtDOB').val("{{format_date_calendar authUser.DOB}}");
        });
    </script>
{{/section}}

<div class="container mt-5">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
            <div class="list-group">
                <a href="/bidder/profile" class="list-group-item list-group-item-action">
                    <i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span>
                </a>
                <a href="/watchlist" class="list-group-item list-group-item-action">
                    <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i><span>Watchlist</span></a>
                <a href="javascript:" class="list-group-item list-group-item-action active">
                    <i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded"
                                                 style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <img src="/public/imgs/avatar/0/avatar1.png" class="img-thumbnail"
                                                     alt="profile-image">

                                                <!--<span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <a class="text-dark" href="/bidder/profile"><h4
                                                    class="pt-sm-2 pb-1 mb-0 text-nowrap">{{authUser.FullName}}</h4></a>
                                            <p class="mb-0">@{{authUser.Username}}</p>
                                            <div class="text-muted"><small>{{authUser.Email}}</small></div>
                                            <div class="text-muted"><small>{{format_date authUser.DOB}}</small></div>

                                        </div>
                                        <div class="text-center text-sm-right">
                                            {{#if authUser.Role}}
                                                <span class="badge badge-secondary">
                                                    bidder/seller
                                                </span>
                                                <div class="text-muted"><small>Ready to sell!</small></div>
                                            {{else}}
                                                <span class="badge badge-secondary">
                                                    bidder
                                                </span>
                                                <div class="text-muted"><small>You are currently a bidder!</small></div>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="javascript:" class="active nav-link">Settings</a></li>
                                    <li class="nav-item"><a href="./reset-password" class="nav-link">Change password</a>
                                    </li>

                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="" action="/bidder/profile/edit"
                                              id="frmChangeProfile"
                                              method="post">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="nameForm">
                                                                <label>Full Name</label>
                                                                <input class="form-control" type="text" name="name"
                                                                       placeholder="Your username"
                                                                       value="{{authUser.FullName}}"
                                                                       id="txtFullname"
                                                                       required>
                                                                <div class="invalid-feedback ml-2">
                                                                    This field should not be empty
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group" id="userForm">
                                                                <label>Username</label>
                                                                <input class="form-control" type="text" name="username"
                                                                       placeholder="Your name"
                                                                       id="txtUsername"
                                                                       value="{{authUser.Username}}" required>
                                                                <div id='invalidUsername' class="invalid-feedback ml-2">
                                                                    This field should not be empty
                                                                </div>
                                                                {{#if err_username}}
                                                                    <div class="alert alert-warning alert-dismissible fade show"
                                                                         role="alert">
                                                                        {{err_username}}
                                                                        <button type="button" class="close"
                                                                                data-dismiss="alert"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="emailForm">
                                                                <label>Email</label>
                                                                <input class="form-control" type="text" name="email"
                                                                       placeholder="Your email"
                                                                       value="{{authUser.Email}}"
                                                                       id="txtEmail"
                                                                       pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                                                                       required>
                                                                <div class="invalid-feedback ml-2">
                                                                    This field should be a valid email
                                                                </div>
                                                                {{#if err_email}}
                                                                    <div class="alert alert-warning alert-dismissible fade show"
                                                                         role="alert">
                                                                        {{err_email}}
                                                                        <button type="button" class="close"
                                                                                data-dismiss="alert"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            {{!-- DOB --}}
                                                            <div class="form-group">
                                                                <label>Date of birth</label>
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="fa fa-calendar"
                                                                                aria-hidden="true"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" id="txtDOB"
                                                                           name="dob" value="{{authUser.DOB}}">
                                                                    <div class="invalid-feedback ml-2">
                                                                        You must be above 18 to trade here!
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button id="submitButton" class="btn btn-primary" type="submit">Save
                                                        Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <div class="tab-content pt-3">
                                    <div class="tab-pane">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <button class="btn btn-block btn-secondary">
                                    <span><i class="fa fa-sign-out"></i>
                                    <form id="frmLogout" action="/auth/logout" method="post"></form>
                                    <a class="text-white" href="javascript: $('#frmLogout').submit();">Sign Out</a>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{#if authUser.Role}}
                    {{else}}
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title font-weight-bold">Ready to be a seller?</h6>
                                <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                <a href="../request">
                                    <button type="button" class="btn btn-primary">Sell now!</button>
                                </a>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>
</div>